#main
{
	background-image:url("img03.gif");
	width:1400px;
	height:1430px;

}		
#mainsub{
	
	height: 150px;
	padding-left: 145px;
	padding-right: 165px;

}
#mainsub #font{
	padding-left: 1px;
	color:#D14719;
	font-family:"Times New Roman";
	font-size: 45px;
}
#mainsub p{
	color:#9E9E9E;
	font-size: 15px;
	padding-left: 1px;
	margin-top: -3px;
	font-style: italic;	
	word-spacing: 0px;
}


#menu{
	margin-left: 533px;

	color: white;
	margin-top: -58px;
}
#header{
	width: 1400px;
	height:300px;
	margin-top:-74px;
	padding-left: 110px;
	padding-right:110px;
}

#left
{
	width:650px;
	height:1000px;
	float:left;
	padding-left: 135px;
	margin-top: 0px;
	margin-right:0px;
    background-image:url("back.gif");
    margin-left:108px;
}
#left h1{
	color:#D14719;
}
#right
{	
	background-image:url("back.gif");
	float:left;
	width:150px;
	height:1000px;
	padding-left: 0px;
	padding-right: 165px;
	
	
}
#footleft
{
	flaot:left;
	padding-left:165px;
	width:30%;
	height:25%;
}
#footmid
{
	width:30%;
	height:25%;
}
#footright
{
	float:right;
	width:30%;
	height:25%;
}
#lefttop{
	width:100%;
	height:auto;
	margin-top:10px;
	margin-bottom:0px;
	margin-left:-99px;
	padding-left:0px;
	
}
#leftmid{
	width:100%;
	height:auto%;
	margin-top:40px;
	margin-left:-99px;

}
#leftbottem{
	width:100%;
	height:auto;
	margin-top:40px;
	margin-bottom:0px;
	margin-left: -101px;
}
#lefttop,#leftmid,#leftbottem{
	float:left;
}
.headfont{
	padding-left:30px;
	color:#D14719;
}
#m,#m1,#m2,#m3,#m4,#m4,#m5{
	
	float: left;
}
#m{
	color:#D14719;
	font-size: 12px;
	}
#m1,#m2,#m3,#m4,#m5{
	padding-left: 35px;
	font-size: 13px;
	margin-top: -2px;
	font-weight: bold;
	font-family: "New Times Roman";
	}

.parahead{
	margin-left: -18px;
	margin-top: 25px;
	font-size: 30px;
	word-spacing: -3px;
	color:#D14719;
}
.paradate{
	color:#969696;
	font-size:12px ;
	margin-top: -20px;
	margin-left: -14px;
	font-weight: bold;
	}
.post{
	float: right;
	color:#969696;
	margin-top: -18px;
	margin-right: -65px;
	font-size:12px ;
}
.textdata{
	color:#969696;
	margin-left: -17px;
	margin-top: 20px;
	height:100%;
	font-size: 14px;
	text-wrap:yes;
}
#txt{
	width:760px;
}
#txt1{
	width: 760px;
}
#txt2{
	width:760px;
}
.read{
	color:#ffffff;
	float:left;
	font-weight:bold;
	font-size:18px;
	margin-left:20px;
	margin-top:25px;
}
#search{
	margin-top:65px;
	margin-left:30px;
}