#header	
	{
		background-color:#FFDEAD;
		color:black;
		padding:10px;
		text-align:center;
		border-radius:10px;	
		background:radial-gradient(circle,#FFDEAD,#FFEFD5);
	}
#left
	{
		background-color:#FFEFD5;
		width:300px;
		height:700px;
		
	}
#main	
	{
		background-color:#FAFAD2;
		width:586px;		
		height:700px;
		color:blue;
		
	}
#right
	{
		background-color:#FFEFD5;
		
		width:300px;
		height:700px;
		
		color:blue;
		
	}
#left,#main,#right
        {
		float:left;
	}
#footer
	{
		padding:10px;
		color:white;
		border-radius:10px;
		background:linear-gradient(hsl(0,100%,50%),hsl(60,100%,50%));
		clear:both;
	   
	}
