#header	
	{
		background-color:#FFDEAD;
		color:black;
		padding:10px;
		text-align:center;	
	}
#left
	{
		background-color:#FFEFD5;
		float:left;
		width:300px;
		height:700px;
		padding:5px;
	}
#main	
	{
		background-color:#FAFAD2;
		width:867px;		
		height:700px;
		color:blue;
		padding:5px;
	}
#right
	{
		background-color:#FFEFD5;
		float:right;
		width:300px;
		height:700px;
		padding:5px;
		color:blue;
		
	}
#footer
	{
		background-color:black;
		clear:both
		text-align:center;
		padding:10px;
		color:white;   
	}

